// Define variables for your color scheme

// For example:
$dark-pink: #c86b85;
$dark-teal: #326765;
$yellow: #f5f5c6;
$pink: #e6a4b4;
$green: #7da87b;
$skin: #f3d7ca;
$beige: #f5eee6;
$babyblue: #deecfc;
$sortablue: #b9ceeb;
$pastelblue: #87a8d0;
$pastelpurple: #c3b4d2;
$dark-purple: #9a1ba0;
